{% extends 'base.html' %}

{% block content %}
<div class="pagina-pago">
    <h1 class="text-3xl font-semibold mb-6">¡Pago Exitoso!</h1>

    <p class="mb-6">
        <strong>Monto:</strong> {{ total_carrito }}
    </p>

    <p class="mb-6">
        <strong>Pedido:</strong>
        <ul>
            {% for item in items %}
                <li>{{ item.producto.nombre }} x {{ item.cantidad }}</li>
            {% endfor %}
        </ul>
    </p>

    <a href="/" class="btn btn-primary">Volver a la tienda</a>
</div>
{% endblock %}